# ===============================
# GLOBAL
# ===============================
NODE_ENV=development

# ===============================
# USERS SERVICE (Puerto 3005)
# ===============================
# Estas variables las usa el servicio de Usuarios
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=123456
DB_DATABASE=users_db

JWT_SECRET=mi-secret-key-super-segura-123
JWT_EXPIRES_IN=24h

PORT=3005
RPC_PORT=3004

# ===============================
# PRODUCTS SERVICE (Puerto 3002)
# ===============================
# Estas variables las usa el servicio de Productos
PRODUCTS_PORT=3002
PRODUCTS_RPC_PORT=3006

PRODUCTS_DB_HOST=localhost
PRODUCTS_DB_PORT=5432
PRODUCTS_DB_USERNAME=postgres
PRODUCTS_DB_PASSWORD=123456 
PRODUCTS_DB_DATABASE=products_db

# ===============================
# ORDERS SERVICE (Puerto 3003)
# ===============================
# Estas variables las usa el servicio de Pedidos
ORDERS_PORT=3003
ORDERS_RPC_PORT=3007

ORDERS_DB_HOST=localhost
ORDERS_DB_PORT=5432
ORDERS_DB_USERNAME=postgres
ORDERS_DB_PASSWORD=123456
ORDERS_DB_DATABASE=orders_db

# ===============================
# STANDS SERVICE (Puerto 3001)
# ===============================
STANDS_PORT=3001
STANDS_RPC_PORT=3008

STANDS_DB_HOST=localhost
STANDS_DB_PORT=5432
STANDS_DB_USERNAME=postgres
STANDS_DB_PASSWORD=123456
STANDS_DB_DATABASE=stands_db