# Configuración de Base de Datos
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_DATABASE=users_db

# Seguridad
JWT_SECRET=
JWT_EXPIRES_IN=24h

# Puertos
PORT=3000
RPC_PORT=3004
NODE_ENV=development